@font-face {
    font-family: PTSans;
    src: url(fonts/pt.ttf);
}

@font-face {
	font-family: PTSansBold;
	src: url(fonts/ptbold.ttf);
}

html
{
	color: #00497D;
}

body, #menu-container
{
	margin: 0 auto;
	font-size:17px;
	font-family:PTSans, Arial;
	background-color: #F0E6DF;
}

#left-body
{
	float: left;
	width: 75%;
	padding: 5px;
	overflow-x:auto;
}

#right-body
{
	float:right;
	width:20%;
	padding: 5px;
}

#body
{
	width:80%;
	margin: 0 auto;
	background-color: #DFE9F0;
	overflow:auto;
	padding-right:15px;
	padding-left:15px;
	padding-top: 10px;
}

#body h1
{
	padding: 5px 0px 5px 5px;
	margin: 0;
	font-size: 150%;
	font-family: PTSansBold;
	background-color:#b3b3cc;
	text-align:left;
}

a
{
	color: #00497D;
}

a:hover
{
	background-color:black;
	color:white;
}

a:active
{
	border: none;
	background-color:#559
}

input
{
	color: black;
	background-color:none;
	font-family:PTSans;
}

#incsearch
{
	width:100%;
	display:none;
}

#incsearch:focus
{
	display:block;
}

#body h2
{
	text-align:left;
	margin: 0px 0px 5px 5px;
	font-size: 120%;
	font-family: PTSans	;
}

#body p
{
	margin: 0;
	text-align:justify;
}

#footer
{
	border-top-width: 2px;
	border-top-color: #CCC;
	border-top-style: solid;
	margin-top: 5px;
	font-size:80%;
	text-align:center;
}

table
{
	width: 100%;
}

table, th, td
{
	font-family:PTSans;
	border: 1px solid #A4C5CE;
	border-collapse:collapse;
	text-align:left;
}

td
{
	word-wrap:break-word;
	word-break:break-all;
}

th
{
	background-color:#888888;
	color:white;
	min-width:30px;
}

tr:hover
{
	background-color:#bbbbbb;
}

table:nth-child(2n+0)
{
	background-color:#aaaaaa;
}

td:

td:nth-child(3n+0)
{
	text-align:center;
}

.yes
{
	background-color: #B4E7A7;
	text-align:center;
}

.button, .blue-button, .big-button
{
	background-color: #b3b3cc;
	display:block;
	padding: 5px;
	margin: 5px 0 5px 0;
	color:black;
	font-size:90%;
	border: 1px #0a0a0f solid;
	text-align:center;
}

.big-button
{
	margin: 0 auto;
	font-size: 130%;
	color: black;
	width:75%;
}

.big-button:hover
{
	background-color: #33334c;
	color: white;
}

#console
{
	position:fixed;
	bottom: 1px;
	bottom: 1px;
	right: 10vw;
	padding: 5px;
	border: 1px black solid;
	background-color:#F0E6DF;
}

#log
{
	width: 50vw;
}

#console-toggle-button
{
	float: right;
}

#topbar
{
	font-size:115%;
	background-color:white;
	width: 100%;
	height:30px;
	margin-bottom: 10px;
	overflow:hidden;
}

#contents
{
	background-color:#d1d1e1;
	padding: 10px 0 10px 0;
}

#ticker-contents, #ticker-contents2
{
	width:100%;
	overflow:hidden;
	padding: 0;
	margin: 0;
}

.inline-link
{
	padding: 0 0 0 5px;
	display:inline;
	font-weight:bold;
}

.button:hover
{
	background-color: #88f;
}

.error
{
	background-color:red;
	color:white;
}

.blue-button
{
	background-color:#4545FF;
	max-width:100px;
}

a
{
text-decoration:none;
}

p
{
	margin : 0;
	padding: 0;
}